MeronaServer/src/controller/NotiController.java
MeronaServer/src/template/*



WhenYouComeMerona/app/src/main/java/com/example/whenyoucomemerona/model/URL.java
WhenYouComeMerona/app/src/main/java/com/example/whenyoucomemerona/model/Key.java